body {
    font-family: menlo;
}

.block-unit {
    padding: 12px;
    border: 1px solid rgba(76, 85, 85, 0.116);
    width: fit-content;
    margin: 20px;
}

.sub-block-unit {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid rgba(76, 85, 85, 0.116);
}

.tag, a {
    color: #e6c003;
    text-decoration: underline;
    cursor: pointer;
}

/* Toolbar Styling */
.tool-bar {
    margin: 20px;    
}

.tool-bar > * {
    margin-right: 10px;
}

/* Date Picker Styling */
.date-picker {
    display: inline-block;
}

.react-datepicker {
    font-family: menlo !important;
}

.highlight-date {
    background: #dbd0ff;
    border-radius: 3px;
}